
//LINK

%link {
	text-decoration:none;
	font-weight:700;
}

//IMAGES

%logo {
	display:block;
	margin-left:auto;
	margin-right:auto;	
	padding-bottom:20px;
}

%frame {
	padding: 10px;
    border: 1px solid #C8C8C8;
}

//HEADLINES

%primary {
	padding-left: 20px;
    padding-right: 31px;	
}

%secondary {
font-weight:400;
}

//Nav__item 
%nav {
color:black;
	display: block;
	width: 90%;
	padding-bottom: 20px;
}
