// ===========================================
//Variables
//===========================================

//Colors

$color-green : #97dfb9;
$color-blue : #40e0d0;

$color-success:#6fb76f;
$color-error:#FF6347;
$color-warning: #E5593F;
$color-info: #AE5DAE;

//Fonts