// ===========================================
//Variables
//===========================================

//Colors

$color-primary : #7ee7ee;
$color-success : #4ca64c;
$color-error:#e5593f;
$color-warning:#e98d52;
$color-info: #be68be;
$color-6:#2077e6;

//Fonts

$main-font :'Open Sans',sans-serif;


//Media Query Breakpoints

$brk-desktop : '(min-width: 1400px)' ;
